:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 14px/1.4 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

.container {
  max-width: 560px;
  margin: auto;
  padding: 0 1.3rem;
}

.clearfix {
  clear: both;
}

.logpage-loading {
  font-size: 2rem;
  font-weight: 300;
  color: #b1b0b0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading-spin {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid gainsboro;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.markdown-body {
  background: none;
}
.logpage-header {
  border-bottom: 1px solid #f3f3f3;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.logpage-header .logpage-title {
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0;
}

.logpage-header .logpage-title a {
  color: #47525d;
  text-decoration: none;
}

.logpage-header .logpage-title a:hover {
  text-decoration: underline;
}

.logpage-header .logpage-title a strong {
  font-weight: 500;
}

.logpage-header .logpage-website a {
  color: rgba(71, 82, 93, 0.35);
  text-decoration: none;
}

.logpage-header .logpage-website a:hover {
  text-decoration: underline;
}

.logpage-body {
  padding: 0 0 5rem;
}

.logpage-body,
.logpage-body .container {
  position: relative;
}

.logpage-body .logpage-sep {
  margin-top: 20px;
}

.logpage-body h1 {
  margin: 0;
  border-bottom: none;
}

.logpage-body ol,
.logpage-body ul {
  padding-left: 20px;
  margin-left: 0;
}

.logpage-body h2 {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.logpage-body .logpage-logtitle {
  margin-top: 50px;
  position: relative;
}

.logpage-body .logpage-logtitle:not(:first-child) {
  border-top: 1px solid #f3f3f3;
  padding-top: 40px;
}

.logpage-body .logpage-logtitle:not(:first-child) .logpage-date {
  margin-top: 66px;
}

.logpage-body .logpage-logtitle .logpage-date {
  font-size: 13px;
  color: rgba(71, 82, 93, 0.4);
}

.logpage-body .logpage-h3 {
  margin-top: 0;
  color: #fff;
  float: left;
  font-weight: 300;
  padding: 3px 12px;
  font-size: 12px;
  border-radius: 33px;
}

@media screen and (min-width: 768px) {
  .logpage-logtitle .logpage-date {
    position: absolute;
    left: -130px;
    top: 2px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #747bff;
  }

  .logpage-body .logpage-logtitle .logpage-date {
    color: rgba(255, 255, 255, 0.4);
  }
  .logpage-header .logpage-title a {
    color: #fff;
  }
  .logpage-header .logpage-website a {
    color: rgba(255, 255, 255, 0.35);
  }

  .logpage-header {
    border-bottom: 1px solid #424242;
  }
  .logpage-body .logpage-logtitle:not(:first-child) {
    border-top: 1px solid #424242;
  }
}
